.footer{
  display: flex;
  flex-direction: column;
  background-color: #0A0E3F;
  justify-content: center;
  align-items: center;
  
}

.footer h1{
  color: #FFFFFF;
  padding-top: 107px;
}

.footer p{
color: #1EE3CF;
padding-bottom: 20px;
}