.footer{
  display: flex;
  flex-direction: column;
  background-color: #0A0E3F;
  justify-content: center;
  align-items: center;
  
}

.footer h1{
  color: #FFFFFF;
  padding-top: 107px;
  text-align: center;
}

.footer p{
color: #1EE3CF;
padding-bottom: 20px;
text-align: center;
}

@media (max-width: 992px) {
  .footer h1 {
    padding-top: 10px; /* Reduce padding for smaller screens */
  }
  
  .footer p {
    padding-bottom: 10px; /* Reduce padding for smaller screens */
  }
}