header {
  background-color: #F2F4F6;
  color: white;
  padding: 10px 20px;
}

.header-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 200px;
  padding-left: 200px;
}

.hamburger-menu {
  display: none; 
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 25px;
  text-decoration: none;
  color: #161D6F;
}

.nav-links li {
  list-style: none; 
}

.nav-links li a {
  text-decoration: none;
  color: #161D6F;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #007bff; 
}

.btn-pri {
  background-color: #161D6F;
  padding: 7px 20px;
  border-radius: 6px;
  color: #1EE3CF;
  text-decoration: none;
}

.btn-sec {
  padding: 7px 20px;
  border-radius: 6px;
  color: #161D6F;
  border-color: #161D6F;
  border-style: solid;
  text-decoration: none;
}

.left-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.middle-section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.hright-section  ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.hright-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.himg {
  justify-content: center;
  display: flex;
  padding-left: 20px;
}

.no-underline {
  text-decoration: none;
}

@media (max-width: 768px) {
  .header-main {
    flex-direction: column; 
    padding: 10px; 
  }

  .hamburger-menu {
    display: block; 
  }

  .content {
    display: none; 
    flex-direction: column; 
    align-items: center; 
  }
  
  .content.active {
    display: flex; 
  }

  .nav-links {
    display: flex; 
    flex-direction: column; 
    text-align: center; 
    padding: 10px 0;
  }

  .btn-pri, .btn-sec {
    width: auto; 
    margin-top: 10px; 
  }

  
}


@media (min-width: 769px) {
  .content {
    display: flex; 
  }
}



@media (max-width: 992px) {
  .header-main {
    padding: 40px 20px; 
  }
}

